.tweet {
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 20%;
    padding: 20px;
    background-color: lightskyblue;
}

.username {
    color: #333;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}

.name {
    font-weight: bold;
    color: #999;
    display: inline-block;
}

.date {
    color: #ff0505;
    font-size: 20px;
    display: inline-block;
}